<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label" for="inputTitle">Title</label>
    <input type="text"
           id="inputTitle"
           name="title"
           class="form-control"
           autofocus
           ng-model="movie.title">
  </div>
  <div class="form-group">
  <label class="control-label" for="inputReleaseYear">Release Year</label>
      <input type="text"
             id="inputReleaseYear"
             name="releaseYear"
             class="form-control"
             ng-model="movie.releaseYear">
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
      <text-angular ng-model="movie.description"
                    name="description"
                    id="movie-description-editor">
      </text-angular>
    </div>
  </div>
  <div>
    <button type="submit"
            class="btn btn-primary"
            ng-click="save(movie)">
      Save
    </button>
    <a href="/movies/{{movie.id}}" class="btn btn-default">Cancel</a>
  </div>
</form>
